<div class="mt-4 bg-white">
    <mat-tab-group (selectedTabChange)="onTabChange($event)" dynamicHeight #tabGroup>
        <mat-tab label="CHOOSE KPI" *ngIf="!isAdminRating()">
            <div class="grid p-4">
                <mat-form-field>
                    <mat-label>Select KPI's</mat-label>
                    <mat-select [formControl]="kpiTitlesDropdown" multiple>
                        <mat-select-trigger>
                            {{kpiTitlesDropdown.value?.[0] || ''}}
                            <span *ngIf="(kpiTitlesDropdown.value?.length || 0) > 1">
                                (+{{(kpiTitlesDropdown.value?.length || 0) - 1}} {{kpiTitlesDropdown.value?.length === 2
                                ?
                                'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let kpiTitle of kpiTitleList" [value]="kpiTitle">{{kpiTitle}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <ng-container *ngIf="getKpiDropdownLength() > 0">
                    <ul>
                        <li class="grid" *ngFor="let kpiTitle of kpiTitlesDropdown?.value; let i = index">
                            <mat-form-field>
                                <mat-label>{{kpiTitle}} Weight %</mat-label>
                                <input matInput type="number" [formControl]="getWeightFormControl(kpiTitle)">
                                <mat-error class="font-extrabold" *ngIf="getWeightFormControl(kpiTitle).hasError('min')
                                            && getWeightFormControl(kpiTitle).invalid 
                                            && getWeightFormControl(kpiTitle).touched 
                                            && !getWeightFormControl(kpiTitle).hasError('required')
                                            && !getWeightFormControl(kpiTitle).hasError('max')">
                                    Minimum value is 1.
                                </mat-error>
                                <mat-error class="font-extrabold" *ngIf="getWeightFormControl(kpiTitle).hasError('max')
                                            && getWeightFormControl(kpiTitle).invalid 
                                            && getWeightFormControl(kpiTitle).touched 
                                            && !getWeightFormControl(kpiTitle).hasError('required')
                                            && !getWeightFormControl(kpiTitle).hasError('min')">
                                    Maximum value is 100.
                                </mat-error>
                                <mat-error class="font-extrabold" *ngIf="getWeightFormControl(kpiTitle).hasError('required')
                                            && getWeightFormControl(kpiTitle).invalid 
                                            && getWeightFormControl(kpiTitle).touched 
                                            && !getWeightFormControl(kpiTitle).hasError('min')
                                            && !getWeightFormControl(kpiTitle).hasError('max')">
                                    Weight is required.
                                </mat-error>
                            </mat-form-field>

                        </li>
                    </ul>
                </ng-container>
                <button (click)="confirm()">Confirm</button>
            </div>
        </mat-tab>

        <mat-tab *ngIf="isValid || isAdminRating()"
            label="I. BALANCED SCORECARD PERSPECTIVES AND KEY PERFORMANCE INDICATORS">
            <div class="p-4">
                <div class="px-8">
                    <header class="font-bold">
                        <h2>GUIDELINES:</h2>
                    </header>
                    <ol class="grid gap-1 list-decimal">
                        <li class="max-w-[90ch]">This form is to be filled out by the Ratee (subordinate), if necessary,
                            with the help of the
                            Rater
                            (superior) on the
                            first month of every academic year, and to be submitted to HRD towards the end of the
                            indicated
                            school
                            year.</li>
                        <li class="max-w-[90ch]">Please indicate corresponding weight of every KPI, maintaining a sum of
                            100 for all listed
                            KPIs
                            or
                            the four
                            perspectives as reflected in the department’s/ unit’s Balanced Scorecard.</li>
                        <li>Individual Goal Commitment is target contribution of the employee to attain the department’s
                            objective. Must be
                            measurable.</li>
                        <li>Accomplishment is actual output of the employee in terms of his/her individual goal
                            commitment.
                        </li>
                    </ol>
                </div>
                <app-part-one-form [kpis]="kpis">
                </app-part-one-form>

            </div>
        </mat-tab>

        <mat-tab *ngIf="isAdminRating()"
            label="II. OBSERVATION AND RECOMMENDATIONS. PLEASE ACCOMPLISH ALL ITEMS BELOW.">
            <app-part-two-form [stepLabel]="partTwoStepLabel"></app-part-two-form>
        </mat-tab>

    </mat-tab-group>

    <div class="grid gap-4 p-4" [ngClass]="{'grid-cols-2':!isSigned,'grid-cols-1':isSigned}">
        <ng-container *ngIf="!isSigned">
            <button
                class="px-4 py-2 text-white transition-colors duration-500 ease-in-out bg-black rounded-md hover:bg-green-700"
                (click)="submit()">{{currentUserRole === "Faculty"? 'Submit':'Rate'}}</button>
        </ng-container>
        <button
            class="px-4 py-2 text-white transition-colors duration-500 ease-in-out bg-black rounded-md hover:bg-red-500"
            (click)="exit()">Exit</button>
    </div>

</div>