<div class="bg-login min-h-[100vh] bg-no-repeat bg-cover bg-center grid place-content-center ">
    <mat-stepper #stepper [linear]="false" class="border-1  rounded-xl p-6 min-w-[35rem] bg-slate-100 text-black 
        bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100">
        <mat-step [stepControl]="getFormGroup('personalInformationFormGroup')">
            <ng-template matStepLabel>
                <h2 class="text-white">Personal Information</h2>
            </ng-template>
            <form class="grid gap-1" [formGroup]="getFormGroup('personalInformationFormGroup')">
                <div class="grid grid-cols-2 gap-3">

                    <div class="grid">
                        <mat-form-field>
                            <mat-label>First name</mat-label>
                            <input matInput formControlName="emp_firstName" required>
                            <mat-error class="px-1 text-white bg-red-900">Firstname is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="emp_lastName" required>
                            <mat-error class="px-1 text-white bg-red-900">Lastname is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field>
                    <mat-label>Employee number</mat-label>
                    <input matInput formControlName="emp_number" required>

                    <mat-error class="px-1 text-white bg-red-900">Employee number is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Position</mat-label>
                    <input matInput formControlName="emp_position" required>
                    <mat-error class="px-1 text-white bg-red-900">Employee Position is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="emp_dept" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let department of departments" [value]="department">
                            {{department}}
                        </mat-option>
                    </mat-select>
                    <mat-error class="px-1 text-white bg-red-900">Department is required</mat-error>
                </mat-form-field>

                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
                <button routerLink="/dashboard"
                    class="px-4 py-2 mt-3 font-bold text-white bg-black rounded hover:bg-red-600">
                    Exit
                </button>
            </form>
        </mat-step>
        <mat-step [stepControl]="getFormGroup('userAccountFormGroup')">
            <ng-template matStepLabel>
                <h2 class="text-white">User Account</h2>
            </ng-template>
            <form class='grid gap-2' [formGroup]="getFormGroup('userAccountFormGroup')">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" type="email" required>
                    <mat-error class="px-1 text-white bg-red-900" *ngIf="getFormControl('userAccountFormGroup','email').hasError('emailExist') 
                        && !getFormControl('userAccountFormGroup','email').hasError('required') && 
                        !getFormControl('userAccountFormGroup','email').hasError('email')">
                        Email already exist
                    </mat-error>
                    <mat-error class="px-1 text-white bg-red-900" *ngIf="getFormControl('userAccountFormGroup','email').hasError('email')
                         && !getFormControl('userAccountFormGroup','email').hasError('required')
                         && !getFormControl('userAccountFormGroup','email').hasError('emailExist')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error class="px-1 text-white bg-red-900" *ngIf="getFormControl('userAccountFormGroup','email').hasError('required') 
                         && !getFormControl('userAccountFormGroup','email').hasError('emailExist') && 
                         !getFormControl('userAccountFormGroup','email').hasError('email')">
                        Email is required
                    </mat-error>

                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>

                    <input matInput formControlName="password" placeholder="Ex. example8" type='password' minlength="8"
                        required>
                    <mat-error class="px-1 text-white bg-red-900" *ngIf="getFormControl('userAccountFormGroup','password').hasError('minlength') 
                        && !getFormControl('userAccountFormGroup','password').hasError('required') 
                        && !getFormControl('userAccountFormGroup','password').hasError('pattern')">
                        Password should be at least 8 characters long.
                    </mat-error>
                    <mat-error class="px-1 text-white bg-red-900" *ngIf="getFormControl('userAccountFormGroup','password').hasError('pattern') 
                        && !getFormControl('userAccountFormGroup','password').hasError('required') 
                        && !getFormControl('userAccountFormGroup','password').hasError('minlength')">
                        Password should include both letters and numbers.
                    </mat-error>

                    <mat-error class="px-1 text-white bg-red-900" *ngIf="getFormControl('userAccountFormGroup','password').hasError('required') 
                        && !getFormControl('userAccountFormGroup','password').hasError('minlength') 
                        && !getFormControl('userAccountFormGroup','password').hasError('pattern')">
                        Password is required
                    </mat-error>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let role of roles" [value]="role">
                            {{role}}
                        </mat-option>
                    </mat-select>
                    <mat-error class="px-1 text-white bg-red-900"
                        *ngIf="getFormControl('userAccountFormGroup','role').hasError('required')">Role is
                        required.</mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="register()">Register</button>
                </div>
                <button routerLink="/dashboard"
                    class="min-w-full px-4 py-2 mt-3 font-bold text-white bg-black rounded hover:bg-red-600">
                    Exit
                </button>
            </form>
        </mat-step>
        <!-- <mat-step>
            <ng-template matStepLabel>
                <h2 class="text-white">Done</h2>
            </ng-template>

            <div class="grid gap-3">
                <h2 class="text-white">Draw User's signature</h2>
                <signature-pad #signature [options]="signaturePadOptions" (drawStart)="drawStart($event)"
                    (drawEnd)="drawComplete($event)"></signature-pad>
                <button class="text-white " (click)="clear()">Clear</button>
            </div>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="register()">Register</button>
            </div>
            <button routerLink="/dashboard"
                class="min-w-full px-4 py-2 mt-3 font-bold text-white bg-black rounded hover:bg-red-600">
                Exit
            </button>
        </mat-step> -->
    </mat-stepper>


</div>