<div class="register min-h-[100vh] bg-no-repeat bg-cover bg-center grid place-content-center ">
    <mat-stepper #stepper [linear]="false" class="border-1  rounded-xl p-6 min-w-[30rem] bg-slate-100 text-black 
    
        bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100">
        <mat-step [stepControl]="getFormGroup('personalInformationFormGroup')">
            <ng-template matStepLabel>
                <h2 class="text-white">Personal Information</h2>
            </ng-template>
            <form class="grid gap-1" [formGroup]="getFormGroup('personalInformationFormGroup')">
                <div class="grid grid-cols-2 gap-3 ">

                    <div class="grid">
                        <mat-form-field>
                            <mat-label>First name</mat-label>
                            <input matInput placeholder="First name" formControlName="emp_firstName" required>
                            <mat-error class="text-white">Firstname is <strong>required</strong></mat-error>
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last name" formControlName="emp_lastName" required>
                            <mat-error class="text-white">Lastname is <strong>required</strong></mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field>
                    <mat-label>Employee number</mat-label>
                    <input matInput type="number" placeholder="Ex. 12345" formControlName="emp_number" required>
                    <mat-error class="text-white">Employee number is <strong>required</strong></mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Position</mat-label>
                    <input matInput placeholder="Ex. 12345" formControlName="emp_position" required>
                    <mat-error class="text-white">Employee Position is <strong>required</strong></mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="emp_department" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let department of departments" [value]="department">
                            {{department}}
                        </mat-option>
                    </mat-select>
                    <mat-error class="text-white">Please choose a department.</mat-error>

                </mat-form-field>

                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>

            </form>
        </mat-step>
        <mat-step [stepControl]="getFormGroup('userAccountFormGroup')">
            <ng-template matStepLabel>
                <h2 class="text-white">User Account</h2>
            </ng-template>
            <form class='grid gap-2' [formGroup]="getFormGroup('userAccountFormGroup')">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" required [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com">
                    <mat-error class="text-white">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error class="text-white"
                        *ngIf="getFormControl('userAccountFormGroup','email').hasError('email') && !getFormControl('userAccountFormGroup','email').hasError('required')">
                        Please enter a valid email address
                    </mat-error>

                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let role of roles" [value]="role">
                            {{role}}
                        </mat-option>
                    </mat-select>
                    <mat-error class="text-white"
                        *ngIf="getFormControl('userAccountFormGroup','role').hasError('required')">Please choose a
                        department.</mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>

            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <h2 class="text-white">Done</h2>
            </ng-template>
            <div class="grid gap-3">
                <h2 class="text-white">Draw User's signature</h2>
                <signature-pad #signature [options]="signaturePadOptions" (drawStart)="drawStart($event)"
                    (drawEnd)="drawComplete($event)"></signature-pad>


                <button class="text-white " (click)="clear()">Clear</button>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>

                <button mat-button (click)="register()">Register</button>
            </div>
        </mat-step>
    </mat-stepper>
    <button routerLink="/dashboard" class="px-4 py-2 mt-3 font-bold text-white bg-black rounded hover:bg-red-600">
        Exit
    </button>

</div>