.register {
  background-image: url(../../../../assets/images/background-images/bg-login.jpg);
}

.mat-mdc-button:not(:disabled) {
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}