<header class="px-3 bg-black">
    <div class="relative flex items-center py-8 mx-auto max-w-7xl">
        <img class="invert-[200%] aspect-square w-8 cursor-pointer" src="../../../../assets/icons/hamburger_icon.png"
            alt="Hamburger icon" (click)="toggleSideNav()">


        <!-- <div class="flex gap-1 mx-auto justify-self-center">
            <input class="min-w-[20rem] px-3  rounded-tl rounded-bl " type="text" placeholder="search">
            <button class="grid items-center p-1 text-black bg-white rounded-tr rounded-br group hover:bg-black">
                <mat-icon class="duration-300 group-hover:text-white">search</mat-icon>
            </button>
        </div> -->

        <div class="flex items-center">
            <button>
                <img class="w-12 aspect-square " src="../../../../assets/icons/calendar-icon.png" alt=""
                    (click)="handleDateClick()">
            </button>
            <button>
                <img class="w-12 aspect-square" src="../../../../assets/icons/bell-icon.png" alt=""
                    (click)="toggleNotification()">
            </button>
            <button>
                <img class="w-12 aspect-square" src="../../../../assets/icons/options-icon.png" alt="">
            </button>
        </div>
        <div class="absolute z-50 grid gap-1 p-3 bg-gray-400 rounded-md right-16 top-20" [class.hidden]="!isNotified">
            <p class="p-1 text-black bg-white rounded-sm ">Chuchu submitted 5mins ago</p>
            <p class="p-1 text-black bg-white rounded-sm ">Chuchu submitted 5mins ago</p>
            <p class="p-1 text-black bg-white rounded-sm ">Chuchu submitted 5mins ago</p>
            <button class="py-2 mt-4 bg-black rounded-md">View more</button>
        </div>
    </div>
</header>


<!-- <div>
    <div class="mx-auto max-w-7xl">
        <header class="flex items-center justify-between py-8 text-black">
            <div class="flex items-center gap-8">
                <div class="grid bg-gray-400 place-content-center aspect-square w-7">
                    <input class="w-4 aspect-square" type="checkbox">
                </div>

                <div class="flex gap-2 ">
                    <mat-icon>delete</mat-icon>
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
            <div class="flex items-center gap-2">
                <div class="flex items-center">
                    <mat-icon>arrow_back</mat-icon>
                    <span>
                        1/50
                    </span>
                    <mat-icon>arrow_forward</mat-icon>
                </div>
                <mat-icon>more_vert</mat-icon>
            </div>



        </header>

        <div class="grid gap-3">

            <div class="p-1 text-black group hover:bg-gray-300 ">
                <div class="flex items-center justify-between">
                    <div class="flex gap-1">
                        <input class="w-4 aspect-square" type="checkbox">
                        <label for="">Data</label>
                    </div>

                    <div
                        class="flex items-center gap-3 transition-opacity duration-300 opacity-0 group-hover:opacity-100">
                        <mat-icon>delete</mat-icon>
                        <mat-icon>edit</mat-icon>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div> -->