<div class="grid min-h-full ">
    <app-sidenav>
        <app-header></app-header>
        <div class="container mt-4 bg-white rounded-md shadow-xl max-h-[45rem] overflow-auto">
            <ng-container *ngIf="!isRouteActive(); else outlet">

                <ng-container *ngIf="isLoadingResults; else table">
                    <div class="flex items-center justify-center min-h-[45rem]">
                        <mat-spinner diameter="42"></mat-spinner>
                        <span class="ml-2 text-sm font-semibold text-gray-700">Loading...</span>
                    </div>
                </ng-container>

                <ng-template #table>
                    <div class="pt-8 space-y-4">
                        <div class="grid grid-cols-6 bg-white">
                            <div class="grid col-span-5">
                                <mat-form-field>
                                    <mat-label>Filter</mat-label>
                                    <input matInput (input)="applyFilter($event)" placeholder="Ex. Hello" #input>
                                </mat-form-field>
                            </div>

                            <div class="grid">
                                <mat-form-field class="mx-auto">
                                    <mat-label>Select Year Of IGCF's</mat-label>
                                    <mat-select (valueChange)="filterSubmittedIgcf($event)">
                                        <mat-option *ngFor="let year of deadlineYears" [value]="year">
                                            {{ year }} - IGCF'S
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="bg-white">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <!-- Manually define column headers -->
                                <ng-container *ngFor="let column of displayedColumns; let i = index"
                                    [matColumnDef]="column">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>{{
                                        displayedHeader[i]
                                        }}</mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let element">
                                        {{ column === 'fullname'?
                                        element[column].toUpperCase() : element[column] }}
                                    </mat-cell>
                                </ng-container>

                                <!-- <ng-container matColumnDef="isSigned">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Status
                                    </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let element">
                                        <span
                                            [ngClass]="{'bg-green-200': element.isSigned,'bg-red-200':!element.isSigned}"
                                            class="p-1 font-extrabold rounded-md">
                                            {{element.isSigned? 'Signed': 'Not sign'}}
                                        </span>
                                    </mat-cell>
                                </ng-container> -->

                                <!-- Manually define the "actions" column -->
                                <ng-container matColumnDef="actions" *ngIf="userRole$ | async as role">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                                    <mat-cell class="flex flex-wrap" mat-cell *matCellDef="let element">
                                        <ng-container *ngIf="role === 'Admin'">
                                            <button mat-icon-button matTooltip="Rate IGCF"
                                                [routerLink]="['/dashboard', { outlets: { dashboardContent: ['submitted-form', element.id ]} }]">
                                                <mat-icon>star</mat-icon>
                                            </button>
                                        </ng-container>
                                        <button mat-icon-button color="primary" matTooltip="View IGCF"
                                            [routerLink]="['/dashboard', { outlets: { dashboardContent: ['view-igcf',  element.id]} }]">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                        <ng-container *ngIf="role === 'Admin' || role === 'Faculty'">
                                            <button mat-icon-button color="warn" matTooltip="Delete row"
                                                (click)="deleteSubmittedIgcf(element.id)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </ng-container>
                                    </mat-cell>
                                </ng-container>


                                <mat-header-row *matHeaderRowDef="concatColumns('actions')"></mat-header-row>
                                <mat-row matRipple *matRowDef=" let row; columns: concatColumns('actions')"></mat-row>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="text-lg text-center" *matNoDataRow>
                                    <ng-container *ngIf="input.value === '';else noSubmitted ">
                                        <td class="p-4" colspan="4">
                                            No one has submitted IGCF yet.
                                        </td>
                                    </ng-container>
                                    <ng-template #noSubmitted>
                                        <td class="p-4" colspan="4">
                                            No data matching the filter
                                            "<span class="font-bold text-red-600">{{input.value}}</span>"
                                        </td>
                                    </ng-template>
                                </tr>

                            </table>

                            <!-- Add paginator if needed -->
                            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </ng-template>

            </ng-container>

            <ng-template #outlet>
                <div class="mt-4">
                    <router-outlet name="dashboardContent"></router-outlet>
                </div>
            </ng-template>



        </div>
    </app-sidenav>
</div>