<div class="login min-h-[100vh] bg-no-repeat bg-cover bg-center grid place-content-center ">

    <article class="border-1 border-white rounded-2xl p-6 min-w-[30rem] bg-slate-100 text-black 
    
        bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100

    ">
        <img class="aspect-square max-w-[8rem] mx-auto mb-4" src="../../../../assets/images/logo/hau-logo.png"
            alt="Holy Angelo University Logo">
        <form class="grid gap-4">
       
            <input class="border-2 border-white bg-transparent placeholder-white py-1 px-2 rounded-[3px]" type="text"
                id="email" name="email" placeholder="Email" />
            <input class="border-2 border-white bg-transparent placeholder-white py-1 px-2 rounded-[3px]" type="
                password" id="password" name="password" placeholder="Password" />
            <a class="underline text-white">Forgot password</a>
            <button routerLink="/dashboard" type="button" class="bg-black text-white py-2 rounded-lg">Login</button>
    
        </form>
 
    </article>
    
</div>