<div class="relative p-4 text-black">
    <ng-container *ngIf="isLoadingResults; else table">
        <div class="grid min-h-[40rem] place-content-center">
            <mat-spinner class="mx-auto"></mat-spinner>
            <span class="mt-4">Loading results...</span>
        </div>
    </ng-container>>
    <ng-template #table>
        <div class="flex items-center justify-center gap-8 p-4">
            <img class="aspect-square max-w-[8rem]" src="../../../../assets/images/logo/hau-logo.png" alt="HAU logo">
            <div class="font-bold text-center">
                <p>HOLY ANGEL UNIVERSITY</p>
                <p>Human Resource Management Office</p>
                <p>Human Resource Development</p>
            </div>
            <div class="p-1 border border-black">
                <p>FM-HRD-6020</p>
                <p>Revisions:0</p>
                <p>Effective Date: {{ deadline ? (deadline | date) : 'No deadline set' }}</p>
            </div>
        </div>

        <div class="text-center">
            <h2 class="text-2xl font-bold">Individual Goal Commitment Form</h2>
            <p class="font-semibold">(Outcome-based Performance Evaluation)</p>
        </div>

        <div class="flex justify-center p-4">
            <div class="grid gap-2">
                <p class="max-w-[60ch] font-bold">Immediate Supervisor rates accomplishment of corresponding
                    employee
                    using the following
                    Evaluation
                    Rating
                    Equivalents:</p>
                <ul class="grid gap-2">
                    <li class="flex gap-8">
                        <span>1.00 – 1.50</span>
                        <p>Failed to deliver agreed individual goal commitment</p>
                    </li>
                    <li class="flex gap-8">
                        <span>1.51 – 2.50</span>
                        <p>Partially delivered agreed individual goal commitment</p>
                    </li>
                    <li class="flex gap-8">
                        <span>2.51 – 3.50</span>
                        <p>Delivered agreed individual goal commitment</p>
                    </li>
                    <li class="flex gap-8">
                        <span>3.51 – 4.00</span>
                        <p>Exceeded or Delivered beyond individual goal commitment</p>
                    </li>
                </ul>
            </div>

        </div>
        <!-- completion_date
        :
        "2024-03-10"
        id
        :
        4
        rate_date
        :
        "2024-03-11" -->
        <div class="flex p-4 justify-evenly" *ngFor="let info of raterInfos;">
            <div>
                <p class="font-bold">
                    Employee Name: <span class="font-semibold underline">{{info.fullname}}</span>
                </p>
                <p class="font-bold">Position: <span class="font-semibold underline">{{info.emp_position}}</span></p>

            </div>
            <div>
                <p class="font-bold">Employee No. <span class="font-semibold underline">{{info.emp_number}}</span></p>
                <p class="font-bold">Dept./Unit: <Span class="font-semibold underline">{{info.emp_dept}}</Span>
                </p>

            </div>
        </div>


        <table class="mx-auto border border-collapse border-black table-auto">
            <thead>
                <tr>
                    <th colspan="5" class="p-2 border border-black ">
                        Individual Commitment
                    </th>
                    <th></th>
                    <th class="p-2 border border-black">
                        Assesment
                    </th>
                </tr>
                <tr>
                    <th class="p-2 border border-black">
                        Personal Objective
                    </th>
                    <th class="p-2 border border-black">
                        Personal Measures (KPI)
                    </th>
                    <th class="p-2 border border-black">
                        Target
                    </th>
                    <th class="p-2 border border-black">
                        Initiatives
                    </th>
                    <th class="p-2 border border-black">
                        Weight
                    </th>
                    <th class="p-2 border border-black">
                        Achieved
                    </th>
                    <th class="p-2 border border-black">
                        Rating ( 1 - 4 )
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let partOne of submittedPartOneIgcf;">
                    <tr *ngIf="!isObject(partOne)">
                        <td colspan="4" class="p-2 font-extrabold bg-yellow-300 border border-black">
                            Department Objective: {{partOne}}
                        </td>
                        <td class="p-2 font-extrabold bg-yellow-300 border border-black">
                            {{getKPIPerntage(partOne)}}%
                        </td>
                        <td class="p-2 bg-yellow-300" colspan="2">

                        </td>
                    </tr>
                    <tr *ngIf="isObject(partOne)">
                        <td class="p-2 border border-black">
                            {{partOne.selected_plan}}
                        </td>
                        <td class="p-2 border border-black">
                            {{partOne.personal_measures_kpi}}
                        </td>
                        <td class="p-2 border border-black">
                            <div class="grid" *ngFor="let target of partOne.selected_plan_weight.split(',')">
                                <span>{{target}}</span>
                            </div>
                        </td>
                        <td class="p-2 border border-black">
                            {{partOne.initiatives}}
                        </td>
                        <td class="p-2 border border-black">
                            {{partOne.weight}}%
                        </td>
                        <td class="p-2 border border-black">
                            {{partOne.achieved}}
                        </td>
                        <td class="p-2 border border-black">
                            {{partOne.rating}}
                        </td>
                    </tr>

                </ng-container>
            </tbody>
        </table>

        <div class="grid gap-8 p-4 place-content-center">
            <div class="space-y-4">
                <p class="font-bold">Overall Weighted Average Rating: <span
                        class="font-semibold underline">{{submittedPartTwoIgcf.overall_weighted_average_rating ||
                        ''}}</span>
                </p>
                <p class="font-bold ">Equivalent Description: <Span
                        class="font-semibold underline">{{submittedPartTwoIgcf.equivalent_description || ''}}</Span>
                </p>
            </div>


            <div *ngFor="let question of partTwoQuestions; let i = index">
                <h2 class="font-bold">{{ question }}</h2>
                <ul class="pl-8 list-disc">
                    <li *ngFor="let answer of getAnswers(i)">
                        {{ answer }}
                    </li>
                </ul>
            </div>



            <h2 class="italic font-semibold max-w-[60ch] text-center">This is to certify that above ratings and
                comments were
                explained thoroughly by the rater.
                This further certifies that
                the ratee understands and agrees with the above ratings and comments.</h2>

            <div class="flex justify-between mt-10">
                <div class="text-center">
                    <h3 class="font-bold underline">Rater's Name: {{ fullname }}</h3>
                    <h3 class="font-bold underline">Completion Date: {{completion_date}}</h3>
                </div>
                <div class="text-center">

                    <h2 class="font-bold underline">Ratee Name: {{submittedPartTwoIgcf.ratee_fullname || 'Pending'}}
                    </h2>
                    <h3 class="font-bold underline">Rated On: {{submittedPartTwoIgcf.rate_date || 'Pending'}}</h3>

                </div>
            </div>
        </div>
        <ng-container *ngIf="(userRole$ | async) as role">
            <div class="sticky inset-0 flex items-center justify-between" *ngIf="role === 'Admin' || role === 'HRD' ">

                <button
                    class="grid p-4 text-white transition duration-300 ease-in-out bg-red-800 rounded-full place-content-center hover:bg-red-600 "
                    matTooltip="Previous IGCF" matTooltipPosition="above" (click)="handleClick('prev')">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button
                    class="grid p-4 text-white transition duration-300 ease-in-out bg-red-800 rounded-full place-content-center hover:bg-red-600"
                    matTooltip="Next IGCF" matTooltipPosition="above" (click)="handleClick('next')">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </ng-container>

    </ng-template>
</div>