<div class="relative p-4 text-black">


    <div class="flex items-center justify-center gap-8 p-4">
        <img class="aspect-square max-w-[8rem]" src="../../../../assets/images/logo/hau-logo.png" alt="HAU logo">
        <div class="font-bold text-center">
            <p>HOLY ANGEL UNIVERSITY</p>
            <p>Human Resource Management Office</p>
            <p>Human Resource Development</p>
        </div>
        <div class="p-1 border border-black">
            <p>FM-HRD-6020</p>
            <p>Revisions:0</p>
            <p>Effective Date: {{ deadline ? (deadline | date) : 'No deadline set' }}</p>
        </div>
    </div>

    <div class="text-center">
        <h2 class="text-2xl font-bold">Individual Goal Commitment Form</h2>
        <p class="font-semibold">(Outcome-based Performance Evaluation)</p>
    </div>

    <div class="flex justify-center p-4">
        <div class="grid gap-2">
            <p class="max-w-[60ch] font-bold">Immediate Supervisor rates accomplishment of corresponding
                employee
                using the following
                Evaluation
                Rating
                Equivalents:</p>
            <ul class="grid gap-2">
                <li class="flex gap-8">
                    <span>1.00 – 1.50</span>
                    <p>Failed to deliver agreed individual goal commitment</p>
                </li>
                <li class="flex gap-8">
                    <span>1.51 – 2.50</span>
                    <p>Partially delivered agreed individual goal commitment</p>
                </li>
                <li class="flex gap-8">
                    <span>2.51 – 3.50</span>
                    <p>Delivered agreed individual goal commitment</p>
                </li>
                <li class="flex gap-8">
                    <span>3.51 – 4.00</span>
                    <p>Exceeded or Delivered beyond individual goal commitment</p>
                </li>
            </ul>
        </div>

    </div>
    <div class="flex p-4 justify-evenly">

        <div>
            <p class="font-bold">
                Employee Name: <span class="font-semibold underline">{{submittedIGCF.fullname}}</span>
            </p>
            <p class="font-bold">Position: <span class="font-semibold underline">{{submittedIGCF.position}}</span>
            </p>

        </div>
        <div>
            <p class="font-bold">Employee No. <span class="font-semibold underline">{{submittedIGCF.emp_number}}</span>
            </p>
            <p class="font-bold">Dept./Unit: <Span class="font-semibold underline">{{submittedIGCF.department}}</Span>
            </p>

        </div>
    </div>


    <table class="mx-auto border border-collapse border-black table-auto">
        <thead>
            <tr>
                <th colspan="5" class="p-2 border border-black ">
                    Individual Commitment
                </th>
                <th></th>
                <th class="p-2 border border-black">
                    Assesment
                </th>
            </tr>
            <tr>
                <th class="p-2 border border-black">
                    Personal Objective
                </th>
                <th class="p-2 border border-black">
                    Personal Measures (KPI)
                </th>
                <th class="p-2 border border-black">
                    Target
                </th>
                <th class="p-2 border border-black">
                    Initiatives
                </th>
                <th class="p-2 border border-black">
                    Weight
                </th>
                <th class="p-2 border border-black">
                    Achieved
                </th>
                <th class="p-2 border border-black">
                    Rating (1 - 4)
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- <ng-container *ngFor="let inputs of submittedIGCFInputs;">
                <tr *ngIf="!isObject(inputs)">
                    <td colspan="4" class="p-2 font-extrabold bg-yellow-300 border border-black">
                        Department Objective: {{inputs}}
                    </td>
                    <td class="p-2 font-extrabold bg-yellow-300 border border-black">
                        {{getKPIPerntage(inputs)}}%
                    </td>
                    <td class="p-2 bg-yellow-300" colspan="2">

                    </td>
                </tr>
                <tr *ngIf="isObject(inputs)">
                    <td class="p-2 border border-black max-w-[60ch]">
                        {{inputs.personalObject}}
                    </td>
                    <td class="p-2 border border-black">
                        {{inputs.personalMeasures}}
                    </td>
                    <td class="p-2 border border-black">
                        {{inputs.target}}
                    </td>
                    <td class="p-2 border border-black">
                        {{inputs.initiatives}}
                    </td>
                    <td class="p-2 border border-black">
                        {{inputs.weight}}%
                    </td>
                    <td class="p-2 border border-black">
                        {{inputs.achieved}}
                    </td>
                    <td class="p-2 border border-black">
                        {{inputs.rating}}
                    </td>
                </tr>

            </ng-container> -->

            <ng-container *ngFor="let inputs of submittedIgcPartOne">

                <ng-container *ngFor="let input of inputs | keyvalue">
                    <tr>
                        <td colspan="4" class="p-2 font-extrabold bg-yellow-300 border border-black">
                            Department Objective: {{input.key}}
                        </td>
                        <td class="p-2 font-extrabold bg-yellow-300 border border-black">
                            {{getKPIPerntage(input.key)}}%
                        </td>
                        <td class="p-2 bg-yellow-300" colspan="2">

                        </td>
                    </tr>
                    <tr *ngFor="let inputValue of input.value">
                        <td class="p-2 border border-black max-w-[60ch]">
                            {{inputValue.personalObject}}
                        </td>
                        <td class="p-2 border border-black">
                            {{inputValue.personalMeasures}}
                        </td>
                        <td class="p-2 border border-black">
                            {{inputValue.target}}
                        </td>
                        <td class="p-2 border border-black">
                            {{inputValue.initiatives}}
                        </td>
                        <td class="p-2 border border-black">
                            {{inputValue.weight}}%
                        </td>
                        <td class="p-2 border border-black">
                            {{inputValue.achieved}}
                        </td>
                        <td class="p-2 border border-black">
                            {{inputValue.rating}}
                        </td>
                    </tr>
                </ng-container>
            </ng-container>

        </tbody>
    </table>

    <div class="grid gap-8 p-4 place-content-center">
        <div class="space-y-4">
            <p class="font-bold">Overall Weighted Average Rating: <span
                    class="font-semibold underline">{{submittedIGCF.overall_weighted_average_rating ||
                    ''}}</span>
            </p>
            <p class="font-bold ">Equivalent Description: <Span
                    class="font-semibold underline">{{submittedIGCF.equivalent_description || ''}}</Span>
            </p>
        </div>


        <div *ngFor="let partTwo of submittedIgcPartTwo; let i = index">
            <h2 class="font-bold">{{ partTwo.question }}</h2>
            <ul class="pl-8 list-disc">
                <li *ngFor="let answer of partTwo.answers">
                    <!-- {{ answer }} -->
                    {{answer | json}}
                </li>
            </ul>
        </div>



        <h2 class="italic font-semibold max-w-[60ch] text-center">This is to certify that above ratings and
            comments were
            explained thoroughly by the rater.
            This further certifies that
            the ratee understands and agrees with the above ratings and comments.</h2>

        <div class="flex justify-between mt-10">
            <div class="text-center">
                <h3 class="font-bold underline">{{ submittedIGCF.fullname }}</h3>
                <h3 class="font-bold underline"> {{submittedIGCF.completion_date}}</h3>
            </div>
            <div class="text-center">

                <h2 class="font-bold underline"> {{submittedIGCF.ratee_fullname || 'Pending'}}
                </h2>
                <h3 class="font-bold underline"> {{submittedIGCF.rate_date || 'Pending'}}</h3>
            </div>
        </div>
    </div>

    <!-- <div class="sticky inset-0 flex items-center justify-between">

        <button
            class="grid p-4 text-white transition duration-300 ease-in-out bg-red-800 rounded-full place-content-center hover:bg-red-600 "
            matTooltip="Previous IGCF" matTooltipPosition="above" (click)="handleClick('prev')">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button
            class="grid p-4 text-white transition duration-300 ease-in-out bg-red-800 rounded-full place-content-center hover:bg-red-600"
            matTooltip="Next IGCF" matTooltipPosition="above" (click)="handleClick('next')">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div> -->
    <div class="sticky inset-0 ">
        <button mat-raised-button color="primary" (click)="generatePDF()">Generate PDF</button>
    </div>
    <div class="absolute inset-0 grid bg-black bg-opacity-60 place-content-center" *ngIf="isLoading">
        <mat-spinner color="accent"></mat-spinner>
        <span class="text-lg font-bold tracking-widest text-white">Loading data...</span>
    </div>