<mat-stepper #stepper>
    <ng-container *ngFor="let formArrayName of formArrayNames;let i = index;">
        <mat-step [stepControl]="formGroup">

            <ng-template matStepLabel>{{stepLabel[i]}}</ng-template>
            <form [formGroup]="formGroup">
                <table class="min-w-full mb-2 border-2 border-black" [formArrayName]="formArrayName">
                    <tr>
                        <th class="text-black border-2 border-black" *ngFor="let header of headers">{{ header
                            }}
                        </th>
                    </tr>
                    <tr>

                        <ng-container *ngIf="percentages.length > 0 else noSelectedPercentages">
                            <td class="text-center text-black border-2 border-black"
                                *ngFor="let percentage of percentages[i]; let j = index">
                                {{ percentage }}{{j === 0? '':'%'}}
                            </td>
                        </ng-container>

                        <ng-template #noSelectedPercentages>
                            <td class="text-center text-black border-2 border-black" *ngFor="let row of tableRows">
                                {{ row }}
                            </td>
                        </ng-template>
                    </tr>
                    <tr *ngFor="let control of getFormControls(formGroup,formArrayName) let i = index"
                        [formGroupName]="i">
                        <td class="p-4 border-2 border-black" *ngFor="let name of controlNames; let j = index">
                            <mat-form-field>
                                <mat-label>{{i+1}}.</mat-label>
                                <input [class.disabled:text-red-500]="control.get(name)?.disabled ? true : null"
                                    matInput [formControlName]="name" [type]="j===0? 'text':'number'" required
                                    [value]="j">
                                <mat-error
                                    *ngIf="control.get(name)?.hasError('required') && !control.get(name)?.hasError('minlength')">
                                    This field is required.
                                </mat-error>
                                <mat-error
                                    *ngIf="!control.get(name)?.hasError('required') && control.get(name)?.hasError('minlength')">
                                    Minimum length is 5.
                                </mat-error>

                                <mat-error
                                    *ngIf="controlNames.length - 1 && control.get(name)?.hasError('range') && !control.get(name)?.hasError('required') && !control.get(name)?.hasError('minlength')">
                                    Rating must be between 0 and 4.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>

                </table>

                <div>
                    <button mat-button matStepperPrevious *ngIf="i !== 0">Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
    </ng-container>

</mat-stepper>