<mat-tab-group>
    <mat-tab *ngFor="let label of stepLabels; let i = index; trackBy: trackByIndex">

        <ng-template mat-tab-label>

            <div
                [ngClass]="{'px-10 py-8 text-center text-white bg-black transition duration-1000 ease-in-out':  getCurrentTabIndex() === i}">
                {{'KPI ' + (i+1)}}
            </div>

        </ng-template>


        <mat-accordion>
            <mat-expansion-panel hideToggle expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="p-4 font-extrabold bg-yellow-500 rounded-sm">
                        Department Objective: {{label | uppercase}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form class="overflow-auto" [formGroup]="formGroup">
                    <div [formGroupName]="getFormGroupName(label)">
                        <div class="mt-4 space-x-4" *ngIf="!isAdminRating()">
                            <label class="text-lg font-bold">Select Action Plans</label>
                            <mat-form-field class="w-80">
                                <mat-label>Action Plans</mat-label>
                                <mat-select formControlName="selectedActionPlans" multiple
                                    (selectionChange)="onSelectionChange($event.value, getFormArrayName(label))">
                                    <mat-select-trigger>
                                        <ng-container
                                            *ngIf="getSelectedActionPlansControl(i)?.value && getSelectedActionPlansControl(i)?.value.length === 1; else moreThanOne">
                                            <span>{{ getSelectedActionPlansControl(i)?.value }}</span>
                                        </ng-container>

                                        <ng-template #moreThanOne>
                                            <span *ngIf="getSelectedActionPlansControl(i)?.value.length > 1">
                                                (+{{ getSelectedActionPlansControl(i)?.value.length - 1 }} {{
                                                getSelectedActionPlansControl(i)?.value.length === 2 ? 'other' :
                                                'others' }})
                                            </span>
                                        </ng-template>
                                    </mat-select-trigger>

                                    <div class="space-y-4">

                                        <mat-option *ngFor="let obj of getActionPlans(label)" [value]="obj">
                                            <div
                                                class="transition duration-300 ease-in-out hover:bg-black hover:text-white" >
                                                {{obj}}
                                            </div>
                                        </mat-option>


                                    </div>

                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div [formArrayName]="getFormArrayName(label)"
                            *ngIf="getSelectedActionPlansControl(i)?.value?.length > 0">
                            <div>
                                <table class="overflow-y-auto border border-collapse border-black">
                                    <!-- Table content -->
                                    <tr>
                                        <th class="p-2 border border-collapse border-black"
                                            *ngFor='let header of igcHeaders'>
                                            {{header}}
                                        </th>
                                    </tr>
                                    <ng-container
                                        *ngFor="let control of getFormArrayControls(getFormArrayName(label)).controls; let j = index">
                                        <tr [formGroupName]="j">
                                            <td
                                                class="max-w-[60ch] border border-collapse border-black p-2 font-semibold">
                                                {{j+1}}. {{getSelectedPlanValue(i,j)}}
                                            </td>
                                            <td class="p-2 border border-collapse border-black">
                                                <mat-form-field *ngIf="isFillingUp; else personalMeasures">
                                                    <mat-label
                                                        [ngClass]='{"font-extranbold text-red-500 text-xl":!isFillingUp}'>Personal
                                                        Measures (KPI)</mat-label>
                                                    <textarea
                                                        class="disabled:font-extrabold disabled:text-red-500 min-h-[8rem]"
                                                        matInput formControlName="personalMeasures"></textarea>
                                                </mat-form-field>
                                                <ng-template #personalMeasures>
                                                    <span class="font-bold">
                                                        {{ getControlValue(getFormArrayName(label), j,
                                                        'personalMeasures')}}
                                                    </span>

                                                </ng-template>
                                            </td>
                                            <td class="p-2 font-semibold border border-collapse border-black">
                                                {{ getControlValue(getFormArrayName(label), j, 'target')}}
                                            </td>
                                            <td class="p-2 border border-collapse border-black">
                                                <mat-form-field *ngIf="isFillingUp; else initiaves">
                                                    <mat-label
                                                        [ngClass]='{"font-extranbold text-red-500 text-xl":!isFillingUp}'>Initiatives</mat-label>
                                                    <textarea
                                                        class="disabled:font-extrabold disabled:text-red-500 min-h-[8rem]"
                                                        matInput formControlName="initiatives"></textarea>
                                                </mat-form-field>
                                                <ng-template #initiaves>
                                                    <span class="font-bold">
                                                        {{ getControlValue(getFormArrayName(label), j, 'initiatives')}}
                                                    </span>
                                                </ng-template>
                                            </td>
                                            <td class="p-2 border border-collapse border-black">
                                                <mat-form-field class="w-24" *ngIf="isFillingUp; else weight">
                                                    <mat-label
                                                        [ngClass]='{"font-extranbold text-red-500 text-xl":!isFillingUp}'>Weight</mat-label>
                                                    <input class="disabled:font-extrabold disabled:text-red-500"
                                                        matInput formControlName="weight">
                                                    <!-- Add mat-error blocks here -->
                                                    <mat-error class="font-extrabold"
                                                        *ngIf="getControl(getFormArrayName(label),j,'weight')?.hasError('min')
                                                        && !getControl(getFormArrayName(label),j,'weight')?.hasError('max')
                                                        && !getControl(getFormArrayName(label),j,'weight')?.hasError('required')">
                                                        Weight must be at least 1.
                                                    </mat-error>
                                                    <mat-error class="font-extrabold"
                                                        *ngIf="getControl(getFormArrayName(label),j,'weight')?.hasError('max')
                                                        && !getControl(getFormArrayName(label),j,'weight')?.hasError('min')
                                                        && !getControl(getFormArrayName(label),j,'weight')?.hasError('required')">
                                                        Weight cannot exceed 100.
                                                    </mat-error>
                                                    <mat-error class="font-extrabold"
                                                        *ngIf="getControl(getFormArrayName(label),j,'weight')?.hasError('required')
                                                        && !getControl(getFormArrayName(label),j,'weight')?.hasError('min')
                                                        && !getControl(getFormArrayName(label),j,'weight')?.hasError('max')">
                                                        Weight is required.
                                                    </mat-error>
                                                </mat-form-field>
                                                <ng-template #weight>
                                                    <span class="font-bold">
                                                        {{ getControlValue(getFormArrayName(label), j, 'weight')}}%
                                                    </span>
                                                </ng-template>
                                            </td>
                                            <td class="p-2 border border-collapse border-black">
                                                <mat-form-field *ngIf="!isDoneRating else achieved">
                                                    <mat-label>Achieved</mat-label>
                                                    <mat-select formControlName="achieved">
                                                        <div class="space-y-4">
                                                            <mat-option class="hover:bg-black hover:text-white"
                                                                *ngFor="let description of ratingDescription"
                                                                [value]="description">{{description}}</mat-option>
                                                        </div>

                                                    </mat-select>
                                                </mat-form-field>

                                                <ng-template #achieved>
                                                    <span class="font-bold">
                                                        {{ getControlValue(getFormArrayName(label), j, 'achieved')}}
                                                    </span>
                                                </ng-template>
                                            </td>
                                            <td class="p-2 border border-collapse border-black">

                                                <mat-form-field class="w-28" *ngIf="!isDoneRating;else rating">
                                                    <mat-label>Rating</mat-label>
                                                    <mat-select formControlName="rating">
                                                        <mat-option
                                                            *ngFor="let equivalentRating of getDescriptionEquivalentRatings(getControlValue(getFormArrayName(label), j, 'achieved'))"
                                                            [value]="equivalentRating">
                                                            {{equivalentRating}}
                                                        </mat-option>


                                                    </mat-select>
                                                </mat-form-field>


                                                <ng-template #rating>
                                                    <span class="font-bold">
                                                        {{ getControlValue(getFormArrayName(label), j, 'rating')}}
                                                    </span>
                                                </ng-template>

                                            </td>
                                        </tr>
                                    </ng-container>

                                </table>
                            </div>
                        </div>
                    </div>

                </form>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-tab>
</mat-tab-group>