<div class="pt-8 space-y-4">
    <div class="grid bg-white">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (input)="applyFilter($event)" placeholder="Ex. Hello" #input>
        </mat-form-field>
    </div>
    <div class="bg-white">
        <table mat-table [dataSource]="dataSource" matSort id="temp">
            <!-- Manually define column headers -->
            <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ displayedHeader[i] }}
                </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element">
                    <ng-container *ngIf="column === 'target' || column === 'timeframe'; else normal">
                        <div class='grid'>
                            <span *ngFor="let data of element[column].split(',')">
                                {{data}}
                            </span>
                        </div>

                    </ng-container>
                    <ng-template #normal>
                        {{ element[column] }}
                    </ng-template>
                </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="target">
                <th mat-header-cell *matHeaderCellDef>Target</th>
                <td mat-cell *matCellDef="let actionPlan">{{ actionPlan.target }}
                    <div class="grid">
                        <span *ngFor="let target of actionPlan.target.split(',')">
                            {{target}}
                        </span>
                    </div>
            
                </td>
            </ng-container>
            
            <ng-container matColumnDef="timeFrame">
                <th mat-header-cell *matHeaderCellDef>Time Frame</th>
                <td mat-cell *matCellDef="let actionPlan">
                    <div class="grid">
                        <span *ngFor="let timeFrame of actionPlan.timeFrame.split(',')">
                            {{timeFrame}}
                        </span>
                    </div>
                </td>
            </ng-container> -->

            <!-- Manually define the "actions" column -->
            <ng-container matColumnDef="actions">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell class="flex flex-wrap" mat-cell *matCellDef="let element">

                    <button mat-icon-button color="warn" matTooltip="Delete KPI"
                        (click)="deleteKPIAndActionPlan(element.id)">
                        <mat-icon>close</mat-icon>
                    </button>
                    <!-- Add update button here -->
                    <!-- <button mat-icon-button color="accent" matTooltip="Update Pending User"
                            (click)="updateUser(element)">
                            <mat-icon>edit</mat-icon>
                        </button> -->
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="concatColumns('actions')"></mat-header-row>
            <mat-row matRipple *matRowDef=" let row; columns: concatColumns('actions')"></mat-row>
            <!-- Row shown when there is no matching data. -->
            <tr class="text-lg text-center" *matNoDataRow>
                <ng-container *ngIf="input.value === ''; else noSubmitted">
                    <td class="p-4" colspan="4">
                        No KPI's yet.
                    </td>
                </ng-container>
                <ng-template #noSubmitted>
                    <td class="p-4" colspan="4">
                        No data matching the filter "<span class="font-bold text-red-600">{{ input.value }}</span>"
                    </td>
                </ng-template>
            </tr>
        </table>

        <!-- Add paginator if needed -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>
</div>